.product-nav.product-nav-dots a {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s;
}

.product-nav.product-nav-dots a.active::after {
  content: '\ec2d';
  color: #dbdbdb;
  font-family: 'molla';
  font-size: 1rem;
  line-height: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.01s;
  margin-top: -0.4rem;
  margin-left: -0.5rem;
}

.product-nav.product-nav-dots a::after {
  opacity: 0;
  visibility: hidden;
}
