.product-item ,.owl-stage-outer {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  

  .product-card img ,.owl-stage-outer {
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover img ,.owl-stage-outer {
    transform: scale(1.1);
  }
  
  .category-content ,.owl-stage-outer {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .category-content.visible ,.owl-stage-outer{
    opacity: 1;
  }
  
  .nav-link {
    transition: color 0.3s ease;
  }


.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .loading-spinner img {
    width: 40px;
    height: 40px;
  }
  