.wishlist-media{
    background-color: #f8f8f8;
}

.table .price-col {
    text-align: right;
}

.table .remove-col{
    padding-right: 15px;
}

.btn{
    margin-left: 25px;
}

@media (max-width: 990px) {
    .table .price-col {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .wishlist-product-title {
        text-align: center;
        margin-top: 20px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 420px) {
    .wishlist-product-title{
        margin-top: 10px;
    }
    #wishlist-page {
        position: relative;
        background-color: #f8f8f8;
    }
    .header-4 .header-middle{
        margin-bottom: 0;
    }
}