.adminPanel_wrapper {
  min-height: 100vh;
  direction: rtl; 
  padding-right: 0; 
}

.adminPanel_sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #343a40;
  color: white;
  padding: 20px;
  transition: width 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.adminPanel_sidebar .list-group-item {
  padding: 15px 20px;
  font-size: 1.2rem; 
  border-radius: 5px;
}

.adminPanel_sidebar .list-group-item:hover {
  background-color: #495057;
}

.adminPanel_sidebar.closed {
  width: 60px;
  align-items: center;
}

.adminPanel_sidebar.closed .list-group-item span,
.adminPanel_sidebar.closed .list-group-item h4.title-sidebar {
  display: none;
}

.adminPanel_sidebar .list-group-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.adminPanel_sidebar.closed .list-group-item .menuText {
  display: none;
}

.adminPanel_sidebar.closed .toggleBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  z-index: 1100;
}

.adminPanel_sidebar .toggleBtn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000;
}

.adminPanel_sidebar .list-group-item .menuText {
  transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.adminPanel_content {
  margin-right: 240px; 
  background-color: #f8f9fa;
  min-height: 100vh;
  direction: ltr; 
  transition: margin-right 0.3s ease;
}

.adminPanel_sidebar.closed ~ .adminPanel_content {
  margin-right: 60px; 
}
.noHover:hover {
  text-decoration: none; 
  background-color: transparent;
}

@media (max-width: 767px) {
  .adminPanel_sidebar {
    transition: transform 0.3s ease-in-out;
  }

  .adminPanel_sidebar.closed {
    transform: translateX(100%);
  }

  .adminPanel_content {
    margin-right: 0;
  }
}



